@media (max-width: 600px) {
  .container {
    margin: 100px auto;
    width: 342px;
    text-align: center;
    /* border: 1px solid red; */
  }

  .image {
    border-radius: 15px;
    height: 60px;
    width: 100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .title {
    margin-top: 10px;
  }

  .item_box {
    cursor: pointer;
    margin-top: 50px;
    float: left;
  }

  .item_box_second {
    cursor: pointer;
    margin: 50px 20px 0 20px;
    float: left;
    box-sizing: border-box;
  }

  .clear_line {
    clear: both;
  }
}
/* ------------------------------------------------------------------- */

@media (min-width: 600px) {
  .container {
    margin: 100px auto;
    width: 1002px;
    text-align: center;
    /* border: 1px solid red; */
  }

  .image {
    border-radius: 30px;
    height: 200px;
    width: 300px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .title {
    margin-top: 10px;
  }

  .item_box {
    cursor: pointer;
    margin-top: 50px;
    float: left;
  }
  .item_box_second {
    cursor: pointer;
    margin: 50px 50px 0 50px;
    float: left;
    box-sizing: border-box;
  }

  .clear_line {
    clear: both;
  }
}
