@media (max-width: 600px) {
  .image-box {
    border-radius: 30px;
    margin: 100px auto 70px auto;
    width: 300px;
    height: 200px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  #upload-icon {
    margin: 80px;
    width: 40px;
    height: 40px;
  }
  #image-label {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  #image {
    border-radius: 30px;
    width: 300px;
    height: 200px;
  }

  .filebox .upload-name {
    border-radius: 15px;
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 50%;
    color: #999999;
  }
  #bottom-label {
    border: 1px solid rgb(172, 172, 172);
    border-radius: 15px;
    display: inline-block;
    padding: 10px 20px;
    color: #707070;
    vertical-align: middle;
    background-color: #ffffff;
    cursor: pointer;
    height: 20px;
    margin-left: 10px;
  }
  #bottom-label :hover {
    background-color: black;
  }
  .filebox input[type='file'] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
  }

  .container {
    text-align: center;
  }

  #genreBtn-1,
  #genreBtn-2,
  #genreBtn-3,
  #genreBtn-4 {
    opacity: 0;
    margin-top: 70px;
  }

  .genre-label {
    cursor: pointer;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 0 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .genre-label-active {
    cursor: pointer;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 0 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: rgb(25, 30, 139);
    color: #ffffff;
  }
  .createBtn {
    cursor: pointer;
    border-radius: 30px;
    height: 50px;
    width: 120px;
    margin: 50px 50px;
    padding: auto 20px;
    background-color: rgb(255, 255, 255);
    border-style: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}

/* ------------------------------------------------------------------- */

@media (min-width: 600px) {
  .image-box {
    border-radius: 30px;
    margin: 100px auto 70px auto;
    width: 500px;
    height: 300px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  #upload-icon {
    margin: 100px 100px;
    width: 60px;
    height: 60px;
  }
  #image-label {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  #image {
    border-radius: 30px;
    width: 500px;
    height: 300px;
  }

  .filebox .upload-name {
    border-radius: 15px;
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 50%;
    color: #999999;
  }
  #bottom-label {
    border: 1px solid rgb(172, 172, 172);
    border-radius: 15px;
    display: inline-block;
    padding: 10px 20px;
    color: #707070;
    vertical-align: middle;
    background-color: #ffffff;
    cursor: pointer;
    height: 20px;
    margin-left: 10px;
  }
  #bottom-label :hover {
    background-color: black;
  }
  .filebox input[type='file'] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
  }

  .container {
    text-align: center;
  }

  #genreBtn-1,
  #genreBtn-2,
  #genreBtn-3,
  #genreBtn-4 {
    opacity: 0;
    margin-top: 70px;
  }

  .genre-label {
    cursor: pointer;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 0 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .genre-label-active {
    cursor: pointer;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 0 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: rgb(25, 30, 139);
    color: #ffffff;
  }
  .createBtn {
    cursor: pointer;
    border-radius: 30px;
    height: 50px;
    width: 120px;
    margin: 50px 50px;
    padding: auto 20px;
    background-color: rgb(255, 255, 255);
    border-style: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}
