.header {
	position: fixed;
	left: 0;
	top: 0;
	height: 80px;
	width: 100vw;
	background-color: #030066;
	color: white;
}

.logo{
	height:64px;
	width: 180px;
}

.contents {
	display: flex;
	width: 96%;
	max-width: 1100px;
	height: 100%;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;
}

.navigation {
	ul {
		display: flex;
		list-style: none;
		li + li {
			margin-left: 30px;
		}
	}
}
.list {
	display: inline;
	padding: 10px;
}
