@media (max-width: 600px) {
  .container {
    margin-top: 10vh;
    text-align: center;
  }
  .left_container {
    display: block;
    clear: both;
  }
  .right_container {
    margin: 0 auto;
  }

  .image {
    margin: 0 auto;
    text-align: center;
    width: 70vw;
    border-radius: 30px;
  }
  .story {
    width: 85vw;
    margin: 0 auto;
    padding: 20px;
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    word-wrap: break-word;
    word-break: keep-all;
  }
  .btnBox {
    margin: 20px 60px;
    vertical-align: middle;
    display: flex;
    width: 70vw;
  }
  .langBtn {
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px 30px;
    margin: 0 20px;
  }
  .deleteBtn {
    border-radius: 30px;
    margin-top: 20px;
    width: 70px;
    height: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}

@media (min-width: 600px) {
  .container {
    text-align: center;
    display: block;
    margin: 2vh auto 0 auto;
    width: 90vw;
  }
  .left_container {
    margin: 0 0 0 calc(22vw - 100px);
    float: left;
  }
  .right_container {
    float: right;
    margin: 0 calc(22vw - 100px) 0 0;
  }
  .title {
    margin-bottom: 20px;
  }
  .image {
    margin: 0 auto;
    text-align: center;
    width: calc(25vw + 20px);
    border-radius: 30px;
  }
  .story {
    width: calc(25vw + 50px);
    height: auto;
    padding: 20px;
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .btnBox {
    display: flex;
    margin-top: 20px;
  }
  .langBtn {
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 10vw;
    margin-left: 20px;
  }
  .deleteBtn {
    float: right;
    border-radius: 30px;
    margin-top: 20px;
    width: 70px;
    height: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}
